body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f5f7fa;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    margin-bottom:20px;
}

input,
select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    margin-top:5px;
    margin-bottom:15px;
    box-sizing:border-box;
}

button{
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
}

.btn-guardar{
    background:#0d6efd;
    color:white;
}

.btn-editar{
    background:#ffc107;
}

.btn-activar{
    background:#198754;
    color:white;
}

.btn-desactivar{
    background:#dc3545;
    color:white;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#f1f3f5;
}

th,
td{
    padding:10px;
    border:1px solid #ddd;
    text-align:left;
}

.estado-activo{
    color:#198754;
    font-weight:bold;
}

.estado-inactivo{
    color:#dc3545;
    font-weight:bold;
}
